
.slider{
    position: relative;
    width:100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    background: black;
    i {
        font-size:2vw ;
    }
}

.slide{
    position: relative;
    min-width: 100%;
    height: 100vh;
    transition: 0.5s;
    overflow: hidden;
    display: flex;
    align-items: center;
}


%btn-styles{
    position: absolute;
    top: 50%;
    background: none;
    transform: translateY(-50%);
    width:10%;
    height: 100%;
    border: none;
    outline: none;
    transition: .5s;
    &:hover{
        background: rgba(0,0,0,0.4);
        cursor: pointer;
        i {
            color: whitesmoke;
        }
    }
}

#goLeft {
    left: 0;
    @extend %btn-styles;
}

#goRight {
    right: 0;
    @extend %btn-styles;
}